*.swp
**/Makefile.in
**/Makefile
aclocal.m4
config.guess
config.sub
configure
data/monsia3.desktop
depcomp
gtk-doc.make
install-sh
ltmain.sh
*.m4
missing
*.gmo
*.lo
*.o
*.la
po/.intltool-merge-cache
*.xml
src/monsia3
