*.swp
Makefile.in
Makefile
aclocal.m4
config.guess
config.sub
configure
data/monsia3.desktop
depcomp
gtk-doc.make
install-sh
ltmain.sh
*.m4
missing
*.gmo
*.lo
*.o
*.la
po/.intltool-merge-cache
*.xml
src/monsia3
.deps/
.libs/
autom4te.cache/
po/POTFILES
po/monsia3.pot
config.h
config.log
config.status
libtool
po/stamp-it
stamp-h1
missing
m4/
gtk-doc.make
