*.swp
Makefile.in
Makefile
aclocal.m4
config.*
configure
data/monsia3.desktop
depcomp
gtk-doc.make
install-sh
ltmain.sh
*.m4
missing
*.gmo
*.lo
*.o
*.la
po/.intltool-merge-cache
*.xml
src/monsia3
.deps/
.libs/
libtool
po/POTFILES
po/stamp-it
stamp-h1
autom4te.cache/
