[Desktop Entry]
Encoding=UTF-8
Name=monsia3
GenericName=User Interface Designer
GenericName[ar]=مخطط واجهة المستخدم
GenericName[bg]=Проектиране на потребителски интерфейси
GenericName[ca]=Dissenyador d'interfícies d'usuari
GenericName[da]=Brugergrænseflade-designer
GenericName[de]=Grafischer Oberflächenentwurf
GenericName[el]=Εργαλείο Σχεδίασης Διασυνδέσεων
GenericName[en_CA]=User Interface Designer
GenericName[en_GB]=User Interface Designer
GenericName[es]=Diseñador de interfaces de usuario
GenericName[et]=Kasutajaliidese projekteerija
GenericName[fi]=Käyttöliittymäkehitin
GenericName[fr]=Concepteur d'interface utilisateur
GenericName[gl]=Deseñador de interfaces de usuario
GenericName[he]=מעצב מנשק משתמש
GenericName[hu]=Felhasználóifelület-tervező
GenericName[it]=Disegnatore di interfaccia utente
GenericName[ja]=ユーザ・インタフェース・デザイナ
GenericName[ko]=사용자 인터페이스 디자인 프로그램
GenericName[lt]=Naudotojo sąsajos projektavimo įrankis
GenericName[mk]=Дизајнер на кориснички интерфејс
GenericName[ml]=യൂസറ്‍ ഇന്‍ററ്‍ഫെയിസ് ഡിസൈനറ്‍
GenericName[nb]=Utforming av brukergrensesnitt
GenericName[pa]=ਉਪਭੋਗੀ ਇੰਟਰਫੇਸ ਡਿਜ਼ਾਇਨਰ
GenericName[pl]=Narzędzie do projektowania interfejsów użytkownika
GenericName[pt]=Desenhador de Interfaces de Utilizador
GenericName[pt_BR]=Construtor de Interfaces de Usuário
GenericName[ru]=Редактор пользовательских интерфейсов
GenericName[sl]=Oblikovalec uporabniškega vmesnika
GenericName[sq]=Vizatuesi i interfaqeve të përdorimit
GenericName[sv]=Användargränssnittsbyggare
GenericName[te]=వినియోగదారు సంవిధాన మాదిరి నిశ్చయించువాడు
GenericName[th]=เครื่องมือออกแบบส่วนติดต่อผู้ใช้
GenericName[tr]=Kullanıcı Arayüzü Tasarımcısı
GenericName[uk]=Редактор інтерфейсів користувача
GenericName[vi]=Bộ thiết kế giao diện người dùng
GenericName[zh_CN]=用户界面设计大师
Comment=Create or open user interface designs for GTK+ applications
Exec=monsia3 %F
Terminal=false
StartupNotify=true
Type=Application
Icon=monsia3
Categories=GNOME;GTK;Development;GUIDesigner;
MimeType=application/x-glade;
X-GNOME-DocPath=glade/glade.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=monsia3
X-GNOME-Bugzilla-Version=1.0.1
X-GNOME-Bugzilla-Component=general
